06.04. Validación XML - XSD IV/Ejercicio 3/Ejercicio 3.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
Nombre: Sergio Pedraza Crespo
Curso: ASIR
Fecha: 11/04/2025
Ejercicio: P06.04. Validación XML: XSD Ejercicio 3
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="heladeria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="helado" maxOccurs="unbounded">
          <xs:complexType>
            <xs:choice>
              <xs:element name="chocolate">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="1000"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="fresa">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="1000"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:choice>
            <xs:sequence>
              <xs:choice>
                <xs:element name="vainilla">
                  <xs:simpleType>
                    <xs:restriction base="xs:integer">
                      <xs:minInclusive value="0"/>
                      <xs:maxInclusive value="1000"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="turron">
                  <xs:simpleType>
                    <xs:restriction base="xs:integer">
                      <xs:minInclusive value="0"/>
                      <xs:maxInclusive value="1000"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="nata">
                  <xs:simpleType>
                    <xs:restriction base="xs:integer">
                      <xs:minInclusive value="0"/>
                      <xs:maxInclusive value="1000"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="fabricación" type="xs:date" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>