06.03. Validación XML - XSD III/Ejercicio 4/Ejercicio 4.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
Nombre: Sergio Pedraza Crespo
Curso: ASIR
Fecha: 11/04/2025
Ejercicio: P06.03. Validación XML: XSD Ejercicio 4
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ubicaciones">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ubicacion" type="infoUbicacion" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="direccion">
        <xs:restriction base="xs:string">
            <xs:enumeration value="norte"/>
            <xs:enumeration value="sur"/>
            <xs:enumeration value="este"/>
            <xs:enumeration value="oeste"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="infoUbicacion">
        <xs:simpleContent>
            <xs:extension base="direccion">
                <xs:attribute name="metros" type="xs:positiveInteger" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>