06.02. Validación XML - XSD II/Ejercicio 2/Ejercicio 2.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
Nombre: Sergio Pedraza Crespo
Curso: ASIR
Fecha: 11/04/2025
Ejercicio: P06.02. Validación XML: XSD Ejercicio 2
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="tipoDosDigitos">
    <xs:restriction base="xs:string">
      <xs:pattern value="[01][0-9]"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="tipoLetra">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X"/>
      <xs:enumeration value="Y"/>
      <xs:enumeration value="Z"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="fichas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ficha" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codigo" type="tipoDosDigitos"/>
              <xs:element name="nombre" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="numero" type="tipoDosDigitos" use="required"/>
            <xs:attribute name="letra" type="tipoLetra" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
