06.01. Validación XML - XSD I/Ejercicio 6/Ejercicio 6.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
Nombre: Sergio Pedraza Crespo
Curso: ASIR
Fecha: 11/04/2025
Ejercicio: P06.01. Validación XML: XSD Ejercicio 6
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="tipoIniciales">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z][A-Za-z][A-Za-z]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="fichas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ficha" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="iniciales" type="tipoIniciales"/>
              <xs:element name="edad" type="xs:integer"/>
              <xs:element name="iniciales-al-reves" type="tipoIniciales"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
