06.03. Validación XML - XSD III/Ejercicio 3/Ejercicio 3.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
Nombre: Sergio Pedraza Crespo
Curso: ASIR
Fecha: 11/04/2025
Ejercicio: P06.03. Validación XML: XSD Ejercicio 3
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="articulos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="artículo" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="precio">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:decimal">
                                            <xs:attribute name="moneda" use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="Euro"/>
                                                        <xs:enumeration value="Dolar"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>